node-red/deployed-safehome.json
[{"id":"fcf38d2fb8ffd0b7","type":"tab","label":"Flow ","disabled":false,"info":"","env":[]},{"id":"2946b4cd3d792859","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Mock 618adb6072d2 OPEN","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/618adb6072d2/security-sensor/a/state","payload":"true","payloadType":"str","x":240,"y":320,"wires":[["9fa5c40d95e5f6bc"]]},{"id":"c07ec19381d18a52","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Mock 618adb6072d2 CLOSE","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/618adb6072d2/security-sensor/a/state","payload":"0","payloadType":"str","x":240,"y":360,"wires":[["9fa5c40d95e5f6bc"]]},{"id":"8613cac1cdc7e22f","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Mock 0adfc673c35d OPEN","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/0adfc673c35d/security-sensor/a/state","payload":"1","payloadType":"str","x":240,"y":400,"wires":[["9fa5c40d95e5f6bc"]]},{"id":"f081094efd3aca89","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Mock 0adfc673c35d CLOSE","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/0adfc673c35d/security-sensor/a/state","payload":"0","payloadType":"str","x":240,"y":440,"wires":[["9fa5c40d95e5f6bc"]]},{"id":"9fa5c40d95e5f6bc","type":"function","z":"fcf38d2fb8ffd0b7","name":"Parse Sensor Message","func":"const parts = msg.topic.split('/');\nmsg.hwId = parts[1];\nmsg.state = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["5d7d6695fc999258","0a2500b22a0643c5"]]},{"id":"5d7d6695fc999258","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Parsed Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":340,"wires":[]},{"id":"0a2500b22a0643c5","type":"switch","z":"fcf38d2fb8ffd0b7","name":"Open (1) / Close (0)","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":400,"wires":[["93905c9c9e22498d","0e96b511dd038919"],["c3f8b5a07df33816"]]},{"id":"184534a052a34013","type":"http request","z":"fcf38d2fb8ffd0b7","name":"HTTP REQUEST","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1010,"y":400,"wires":[["015e8053e2dae5b2","5a0472ce3164d1e3"]]},{"id":"015e8053e2dae5b2","type":"debug","z":"fcf38d2fb8ffd0b7","name":"HTTP Resp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":340,"wires":[]},{"id":"cbbd2139c1cf29b3","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Blinker ON Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":380,"wires":[]},{"id":"553fc18a14d2ed80","type":"mqtt out","z":"fcf38d2fb8ffd0b7","name":"MQTT Blinker Control","topic":"node/eb4b7f158b43/alarm/-/set/state","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":2220,"y":460,"wires":[]},{"id":"01f89de15ebb9fdd","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Mock Deactivate","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"householdId\":\"6803ff66370b12f9102fc265\"}","payloadType":"json","x":200,"y":520,"wires":[["151413907975cc25"]]},{"id":"5e644db50284beb6","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Deactivate Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":500,"wires":[]},{"id":"f56096bba0dea139","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Deactivate Resp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"0a05305663a6651b","type":"function","z":"fcf38d2fb8ffd0b7","name":"Emit OFF All","func":"const sensors = flow.get(\"sensors\")||[];\nreturn sensors.map(hwId=>({\n    topic:'node/+/alarm/-/set/state',\n    payload:0,\n    hwId\n}));","outputs":1,"noerr":1,"initialize":"","finalize":"","libs":[],"x":1050,"y":580,"wires":[["287292bcd51622c0","553fc18a14d2ed80"]]},{"id":"287292bcd51622c0","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Emit OFF Msgs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":520,"wires":[]},{"id":"86fe97f4730a5054","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Startup & every 15m","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"refreshToken\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY4MmE0NGE2MDRhOGQ0OGQyMjExNTA1MiIsImlhdCI6MTc0ODU5MjE0MSwiZXhwIjoxNzQ5MTk2OTQxfQ.XUXonPvxCrORx8aHbNK_ssXRJbp9e2egnjlHy8pV6kM\"}","payloadType":"json","x":220,"y":140,"wires":[["722664ddf41a05aa"]]},{"id":"722664ddf41a05aa","type":"http request","z":"fcf38d2fb8ffd0b7","name":"POST /auth/refresh-token","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://safehome-zx9i.onrender.com/auth/refresh-token","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"","valueType":"other","valueValue":""}],"x":470,"y":140,"wires":[["5f4737c3bfb92181","ac96aee3e350adf6"]]},{"id":"ac96aee3e350adf6","type":"debug","z":"fcf38d2fb8ffd0b7","name":"Refresh Resp","active":true,"tosidebar":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"5f4737c3bfb92181","type":"change","z":"fcf38d2fb8ffd0b7","name":"Store JWT","rules":[{"t":"set","p":"jwt","pt":"flow","to":"payload.accessToken","tot":"msg"}],"x":680,"y":180,"wires":[["9eac46c08e732a4a","76d8d7123918e557","151413907975cc25","8aa2f88587107d09"]]},{"id":"76d8d7123918e557","type":"debug","z":"fcf38d2fb8ffd0b7","name":"New JWT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":180,"wires":[]},{"id":"9eac46c08e732a4a","type":"function","z":"fcf38d2fb8ffd0b7","name":"Set Auth Header","func":"// Build Alarm Request: URL + headers\n// 1) Hlavičky\nmsg.headers = msg.headers || {};\nconst token = flow.get(\"jwt\");\nif (!token) {\n    node.error(\"No JWT in flow.jwt!\", msg);\n    return null;\n}\nmsg.headers.Authorization = \"Bearer \" + token;\n\n// 2) URL podle state (ON/OFF)\nconst verb = msg.payload === \"true\" ? \"on\" : \"off\";\n// msg.url = \"http://localhost:3000/device/set-alarm-triggered-\" + verb + \"/\" + msg.hwId;\nmsg.url = \"https://safehome-zx9i.onrender.com/device/set-alarm-triggered-\" + verb + \"/\" + msg.hwId;\n\n// https://safehome-zx9i.onrender.com/\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":870,"y":260,"wires":[["aa68176de6d726c6","184534a052a34013"]]},{"id":"aa68176de6d726c6","type":"debug","z":"fcf38d2fb8ffd0b7","name":"HTTP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":260,"wires":[]},{"id":"5a0472ce3164d1e3","type":"switch","z":"fcf38d2fb8ffd0b7","name":"Success?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1180,"y":440,"wires":[["6c7fae4948b2f1f5","2345f7a49791195b"]]},{"id":"2345f7a49791195b","type":"function","z":"fcf38d2fb8ffd0b7","name":"Build Blinker","func":"msg.topic = 'node/blinker:0/alarm/-/set/state';\nmsg.payload = msg.payload;  // 1 = ON, 0 = OFF\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":440,"wires":[["cbbd2139c1cf29b3","45a716dd9b0c7d85"]]},{"id":"151413907975cc25","type":"function","z":"fcf38d2fb8ffd0b7","name":"Build Deactivate Request","func":"msg.headers = msg.headers || {};\nconst token = flow.get(\"jwt\");\nif (!token) { node.error(\"No JWT in flow.jwt!\", msg); return null; }\nmsg.headers.Authorization = \"Bearer \" + token;\n// msg.url = \"http://localhost:3000/device/set-state-deactive\";\nmsg.url = \"https://safehome-zx9i.onrender.com/device/set-state-deactive\"\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["2fe9e3f3c63dd633","5e644db50284beb6"]]},{"id":"2fe9e3f3c63dd633","type":"http request","z":"fcf38d2fb8ffd0b7","name":"HTTP Deactivate","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":620,"wires":[["272a48d747a32a36","f56096bba0dea139"]]},{"id":"272a48d747a32a36","type":"switch","z":"fcf38d2fb8ffd0b7","name":"Deactivate Success?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":620,"wires":[["0a05305663a6651b"]]},{"id":"3c8cfa6f6bd97ef8","type":"mqtt in","z":"fcf38d2fb8ffd0b7","name":"","topic":"node/+/security-sensor/a/state","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":260,"wires":[["9fa5c40d95e5f6bc"]]},{"id":"93905c9c9e22498d","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":440,"wires":[]},{"id":"0e96b511dd038919","type":"change","z":"fcf38d2fb8ffd0b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["9eac46c08e732a4a","0d0a52b5f37b7ddc"]]},{"id":"c3f8b5a07df33816","type":"change","z":"fcf38d2fb8ffd0b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["9eac46c08e732a4a"]]},{"id":"6c7fae4948b2f1f5","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":500,"wires":[]},{"id":"998d9f5270f5bdf5","type":"change","z":"fcf38d2fb8ffd0b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":600,"wires":[[]]},{"id":"e72a874e3496f853","type":"switch","z":"fcf38d2fb8ffd0b7","name":"","property":"alarm_buzz","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":600,"wires":[["955d9b1b3de39028","bc4724cd139ea4c2"],["6a341bac3c018f42","8ee0e10e3b9acdd8"]]},{"id":"45a716dd9b0c7d85","type":"function","z":"fcf38d2fb8ffd0b7","name":"function 1","func":"msg.alarm_buzz = msg.payload.data.active && msg.payload.data.alarm_triggered && msg.payload.data.active// true or false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":560,"wires":[["e72a874e3496f853","9fef843f523dc7a0"]]},{"id":"9fef843f523dc7a0","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1700,"y":720,"wires":[]},{"id":"6a341bac3c018f42","type":"change","z":"fcf38d2fb8ffd0b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":620,"wires":[["553fc18a14d2ed80","e9483542fc0ec06a"]]},{"id":"955d9b1b3de39028","type":"change","z":"fcf38d2fb8ffd0b7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":540,"wires":[["553fc18a14d2ed80","d5c5bc673fe1e486"]]},{"id":"d5c5bc673fe1e486","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2140,"y":580,"wires":[]},{"id":"e9483542fc0ec06a","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2140,"y":680,"wires":[]},{"id":"8ee0e10e3b9acdd8","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":700,"wires":[]},{"id":"bc4724cd139ea4c2","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":780,"wires":[]},{"id":"0d0a52b5f37b7ddc","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"6cd453be484dd022","type":"http request","z":"fcf38d2fb8ffd0b7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1490,"y":240,"wires":[["5105042b0da12f68","8cf6250aa54bc91f"]]},{"id":"c2c3ecf975c8d387","type":"inject","z":"fcf38d2fb8ffd0b7","name":"Check household state","props":[],"repeat":"8","crontab":"","once":false,"onceDelay":"5","topic":"","x":1470,"y":160,"wires":[["8aa2f88587107d09"]]},{"id":"8aa2f88587107d09","type":"function","z":"fcf38d2fb8ffd0b7","name":"function 2","func":"// Build Alarm Request: URL + headers\n// 1) Hlavičky\nmsg.headers = msg.headers || {};\nconst token = flow.get(\"jwt\");\nif (!token) {\n    node.error(\"No JWT in flow.jwt!\", msg);\n    return null;\n}\nmsg.headers.Authorization = \"Bearer \" + token;\n\n// 2) URL s hw_id checkne každých 5sekúnd \nconst hw_id = \"618adb6072d2\";\n// msg.url = \"http://localhost:3000/household/get-household-state/\" + hw_id;\nmsg.url = \"https://safehome-zx9i.onrender.com/household/get-household-state/\" + hw_id;\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","libs":[],"x":1240,"y":220,"wires":[["6cd453be484dd022"]]},{"id":"5105042b0da12f68","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2200,"y":240,"wires":[]},{"id":"8cf6250aa54bc91f","type":"switch","z":"fcf38d2fb8ffd0b7","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":320,"wires":[["9c2568d044a57e24","4933ce51f2321aa1"],["6a341bac3c018f42"]]},{"id":"9c2568d044a57e24","type":"debug","z":"fcf38d2fb8ffd0b7","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":260,"wires":[]},{"id":"4933ce51f2321aa1","type":"function","z":"fcf38d2fb8ffd0b7","name":"function 3","func":"msg.payload.data.active = msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":300,"wires":[["45a716dd9b0c7d85"]]},{"id":"mqtt_broker","type":"mqtt-broker","name":"Local MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]